.continue-p{
  font-size: 12px;
    color: #b2b2b2;
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
}

body{
transition:0.3s;
}


.dark{

background:#121212;
color:white;

}


.dark .card{

background:#1e1e1e;
color:white;

}


.dark .navbar{

background:#222!important;

}