.sidebar-link {
    color: #d1d5db !important;
    padding: 12px 16px;
    border-radius: 10px;
    transition: .3s;
    font-weight: 500;
}

.sidebar-link:hover {
    background: #343a40;
    color: #fff !important;
}

.sidebar-link.active {
    background: #495057 !important;
    color: #fff !important;
}